:host,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  flex-shrink: 0;
  text-decoration: none;
  min-width: 0;
  overflow-wrap: anywhere;
}

:host,
:not(span, a, ul, ol, li, p) {
  display: flex;
}

ul,
ol {
  text-indent: 0;
  padding-inline-start: 1.5em;
}

p:empty::before {
  content: '';
  display: inline-block;
}

img {
  object-fit: contain;
}

svg {
  overflow: visible;
}

:host {
  position: relative;
  width: 171px;
  height: 50px;
  flex-direction: column;
  align-items: flex-start;
}
.rectangle3467543 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  outline: solid 2px #0cb9de;
  outline-offset: -2px;
  border-radius: 50px;
}
.rectangle3467544 {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 94px;
  border-radius: 50px;
  background-color: #0cb9de;
}
.mingcuteGridFill {
  position: absolute;
  left: 62.5731%;
  right: 18.7135%;
  top: 18%;
  bottom: 18%;
}
.icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.phListBold {
  position: absolute;
  left: 18.7135%;
  right: 62.5731%;
  top: 18%;
  bottom: 18%;
}
.icon2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
