<div class="rectangle51"><img src="assets/rectangle-51-icon.svg" alt="" class="icon" /></div>
<div class="imageRemovebgPreview1"></div>
<div class="frame48095993">
  <div class="frame480959932">
    <div class="mynauiHome"><img src="assets/mynaui-home-icon.svg" alt="" class="icon2" /></div>
    <div class="boreholes">Boreholes</div>
  </div>
  <div class="frame48095994">
    <div class="mynauiHome2"><img src="assets/mynaui-home-icon2.svg" alt="" class="icon3" /></div>
    <div class="permitsManagement">Permits Management</div>
  </div>
  <div class="frame48095995">
    <div class="mynauiHome3"><img src="assets/mynaui-home-icon3.svg" alt="" class="icon4" /></div>
    <div class="analysisManagement">Analysis Management</div>
  </div>
</div>
<div class="frame1000002920">
  <div class="frame1000002919">
    <div class="rectangle3467545"></div>
    <div class="frame1000002918">
      <div class="searchResult">Search Result |</div>
      <div class="_153">153</div>
      <div class="resultsFound">Results Found</div>
    </div>
  </div>
  <div class="group1000002773">
    <div class="rectangle54"></div>
    <div class="frame1000002765">
      <div class="frame1000002764">
        <div class="group1000002808">
          <div class="rectangle34675452"></div>
          <div class="featured">Featured</div>
        </div>
        <div class="frame1000002761">
          <div class="frame1000002758">
            <div class="rectangle55"></div>
            <div class="frame1000002757">
              <div class="group1000002772">
                <div class="frame1000002755">
                  <div class="blhygnfr3nlslqot1ckiJpg"></div>
                  <div class="frame1000002754">
                    <div class="hyrdoEngineeringServiceLimited">Hyrdo Engineering Service Limited</div>
                    <div class="a31ObafemiAwolowoWayOffAllenRo">
                      a31 Obafemi Awolowo way Off Allen Round About Ikeja, Lagos.
                    </div>
                    <div class="frame1000002753">
                      <div class="frame48096003">
                        <div class="frame48095999">
                          <div class="image32"></div>
                          <div class="wELLWATERANALYSIS">WELL WATER ANALYSIS</div>
                        </div>
                        <div class="group1000002768">
                          <div class="rectangle3467541"></div>
                          <div class="rectangle3467542"></div>
                        </div>
                      </div>
                      <div class="frame48096004">
                        <div class="frame480959992">
                          <div class="group26"><img src="assets/group-26-icon.svg" alt="" class="icon5" /></div>
                          <div class="sOILANALYSIS">SOIL ANALYSIS</div>
                        </div>
                        <div class="group10000027682">
                          <div class="rectangle34675412"></div>
                          <div class="rectangle34675422"></div>
                        </div>
                      </div>
                      <div class="frame48096005">
                        <div class="frame480959993">
                          <div class="drillerEngineerMachineryEquipm">
                            <img src="assets/driller-engineer-machinery-equ.svg" alt="" class="icon6" />
                          </div>
                          <div class="wELLWATERQUALITY">WELL WATER QUALITY</div>
                        </div>
                        <div class="group10000027683">
                          <div class="rectangle34675413"></div>
                          <div class="rectangle34675423"></div>
                        </div>
                      </div>
                      <div class="frame48096006">
                        <div class="frame480959994">
                          <div class="image322"></div>
                          <div class="wELLWATERRATING">WELL WATER RATING</div>
                        </div>
                        <div class="group10000027684">
                          <div class="rectangle34675414"></div>
                          <div class="rectangle34675424"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="loremIpsumDolorSitAmetConsecte">
                Lorem ipsum dolor sit amet consectetur. Tincidunt quam sed nisl laoreet in aliquet. Eu sit dictumst
                proin etiam aliquet morbi purus ut. Rhoncus luctus porttitor tempor diam lectus turpis sed viverra urna.
                Tortor id condimentum condimentum mattis vitae sit mollis pharetra dictumst. Tellus dolor iaculis
                commodo metus sed. Elementum dui massa ornare dolor duis aliquam maecenas dictum. Mauris eget lorem
                pellentesque facilisi. Leo vitae sagittis suspendisse malesuada scelerisque.
              </div>
              <div class="frame1000002756">
                <div class="group1000002770">
                  <div class="rectangle53"></div>
                  <div class="contactDriller">Contact Driller</div>
                </div>
                <div class="group1000002771">
                  <div class="rectangle532"></div>
                  <div class="viewProfile">View Profile</div>
                </div>
                <div class="materialSymbolsShare">
                  <img src="assets/material-symbols-share-icon.svg" alt="" class="icon7" />
                </div>
              </div>
            </div>
          </div>
          <div class="frame1000002759">
            <div class="rectangle552"></div>
            <div class="frame10000027572">
              <div class="group10000027722">
                <div class="frame10000027552">
                  <div class="blhygnfr3nlslqot1ckiJpg2"></div>
                  <div class="frame10000027542">
                    <div class="hyrdoEngineeringServiceLimited2">Hyrdo Engineering Service Limited</div>
                    <div class="a31ObafemiAwolowoWayOffAllenRo2">
                      a31 Obafemi Awolowo way Off Allen Round About Ikeja, Lagos.
                    </div>
                    <div class="frame10000027532">
                      <div class="frame480960032">
                        <div class="frame480959995">
                          <div class="image323"></div>
                          <div class="wELLWATERANALYSIS2">WELL WATER ANALYSIS</div>
                        </div>
                        <div class="group10000027685">
                          <div class="rectangle34675415"></div>
                          <div class="rectangle34675425"></div>
                        </div>
                      </div>
                      <div class="frame480960042">
                        <div class="frame480959996">
                          <div class="group262"><img src="assets/group-26-icon2.svg" alt="" class="icon8" /></div>
                          <div class="sOILANALYSIS2">SOIL ANALYSIS</div>
                        </div>
                        <div class="group10000027686">
                          <div class="rectangle34675416"></div>
                          <div class="rectangle34675426"></div>
                        </div>
                      </div>
                      <div class="frame480960052">
                        <div class="frame480959997">
                          <div class="drillerEngineerMachineryEquipm2">
                            <img src="assets/driller-engineer-machinery-equ2.svg" alt="" class="icon9" />
                          </div>
                          <div class="wELLWATERQUALITY2">WELL WATER QUALITY</div>
                        </div>
                        <div class="group10000027687">
                          <div class="rectangle34675417"></div>
                          <div class="rectangle34675427"></div>
                        </div>
                      </div>
                      <div class="frame480960062">
                        <div class="frame480959998">
                          <div class="image324"></div>
                          <div class="wELLWATERRATING2">WELL WATER RATING</div>
                        </div>
                        <div class="group10000027688">
                          <div class="rectangle34675418"></div>
                          <div class="rectangle34675428"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="loremIpsumDolorSitAmetConsecte2">
                Lorem ipsum dolor sit amet consectetur. Tincidunt quam sed nisl laoreet in aliquet. Eu sit dictumst
                proin etiam aliquet morbi purus ut. Rhoncus luctus porttitor tempor diam lectus turpis sed viverra urna.
                Tortor id condimentum condimentum mattis vitae sit mollis pharetra dictumst. Tellus dolor iaculis
                commodo metus sed. Elementum dui massa ornare dolor duis aliquam maecenas dictum. Mauris eget lorem
                pellentesque facilisi. Leo vitae sagittis suspendisse malesuada scelerisque.
              </div>
              <div class="frame10000027562">
                <div class="group10000027702">
                  <div class="rectangle533"></div>
                  <div class="contactDriller2">Contact Driller</div>
                </div>
                <div class="group10000027712">
                  <div class="rectangle534"></div>
                  <div class="viewProfile2">View Profile</div>
                </div>
                <div class="materialSymbolsShare2">
                  <img src="assets/material-symbols-share-icon2.svg" alt="" class="icon10" />
                </div>
              </div>
            </div>
          </div>
          <div class="frame1000002760">
            <div class="rectangle553"></div>
            <div class="frame10000027573">
              <div class="group10000027723">
                <div class="frame10000027553">
                  <div class="blhygnfr3nlslqot1ckiJpg3"></div>
                  <div class="frame10000027543">
                    <div class="hyrdoEngineeringServiceLimited3">Hyrdo Engineering Service Limited</div>
                    <div class="a31ObafemiAwolowoWayOffAllenRo3">
                      a31 Obafemi Awolowo way Off Allen Round About Ikeja, Lagos.
                    </div>
                    <div class="frame10000027533">
                      <div class="frame480960033">
                        <div class="frame480959999">
                          <div class="image325"></div>
                          <div class="wELLWATERANALYSIS3">WELL WATER ANALYSIS</div>
                        </div>
                        <div class="group10000027689">
                          <div class="rectangle34675419"></div>
                          <div class="rectangle34675429"></div>
                        </div>
                      </div>
                      <div class="frame480960043">
                        <div class="frame4809599910">
                          <div class="group263"><img src="assets/group-26-icon3.svg" alt="" class="icon11" /></div>
                          <div class="sOILANALYSIS3">SOIL ANALYSIS</div>
                        </div>
                        <div class="group100000276810">
                          <div class="rectangle346754110"></div>
                          <div class="rectangle346754210"></div>
                        </div>
                      </div>
                      <div class="frame480960053">
                        <div class="frame4809599911">
                          <div class="drillerEngineerMachineryEquipm3">
                            <img src="assets/driller-engineer-machinery-equ3.svg" alt="" class="icon12" />
                          </div>
                          <div class="wELLWATERQUALITY3">WELL WATER QUALITY</div>
                        </div>
                        <div class="group100000276811">
                          <div class="rectangle346754111"></div>
                          <div class="rectangle346754211"></div>
                        </div>
                      </div>
                      <div class="frame480960063">
                        <div class="frame4809599912">
                          <div class="image326"></div>
                          <div class="wELLWATERRATING3">WELL WATER RATING</div>
                        </div>
                        <div class="group100000276812">
                          <div class="rectangle346754112"></div>
                          <div class="rectangle346754212"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="loremIpsumDolorSitAmetConsecte3">
                Lorem ipsum dolor sit amet consectetur. Tincidunt quam sed nisl laoreet in aliquet. Eu sit dictumst
                proin etiam aliquet morbi purus ut. Rhoncus luctus porttitor tempor diam lectus turpis sed viverra urna.
                Tortor id condimentum condimentum mattis vitae sit mollis pharetra dictumst. Tellus dolor iaculis
                commodo metus sed. Elementum dui massa ornare dolor duis aliquam maecenas dictum. Mauris eget lorem
                pellentesque facilisi. Leo vitae sagittis suspendisse malesuada scelerisque.
              </div>
              <div class="frame10000027563">
                <div class="group10000027703">
                  <div class="rectangle535"></div>
                  <div class="contactDriller3">Contact Driller</div>
                </div>
                <div class="group10000027713">
                  <div class="rectangle536"></div>
                  <div class="viewProfile3">View Profile</div>
                </div>
                <div class="materialSymbolsShare3">
                  <img src="assets/material-symbols-share-icon3.svg" alt="" class="icon13" />
                </div>
              </div>
            </div>
          </div>
          <div class="frame10000027612">
            <div class="rectangle554"></div>
            <div class="frame10000027574">
              <div class="group10000027724">
                <div class="frame10000027554">
                  <div class="blhygnfr3nlslqot1ckiJpg4"></div>
                  <div class="frame10000027544">
                    <div class="hyrdoEngineeringServiceLimited4">Hyrdo Engineering Service Limited</div>
                    <div class="a31ObafemiAwolowoWayOffAllenRo4">
                      a31 Obafemi Awolowo way Off Allen Round About Ikeja, Lagos.
                    </div>
                    <div class="frame10000027534">
                      <div class="frame480960034">
                        <div class="frame4809599913">
                          <div class="image327"></div>
                          <div class="wELLWATERANALYSIS4">WELL WATER ANALYSIS</div>
                        </div>
                        <div class="group100000276813">
                          <div class="rectangle346754113"></div>
                          <div class="rectangle346754213"></div>
                        </div>
                      </div>
                      <div class="frame480960044">
                        <div class="frame4809599914">
                          <div class="group264"><img src="assets/group-26-icon4.svg" alt="" class="icon14" /></div>
                          <div class="sOILANALYSIS4">SOIL ANALYSIS</div>
                        </div>
                        <div class="group100000276814">
                          <div class="rectangle346754114"></div>
                          <div class="rectangle346754214"></div>
                        </div>
                      </div>
                      <div class="frame480960054">
                        <div class="frame4809599915">
                          <div class="drillerEngineerMachineryEquipm4">
                            <img src="assets/driller-engineer-machinery-equ4.svg" alt="" class="icon15" />
                          </div>
                          <div class="wELLWATERQUALITY4">WELL WATER QUALITY</div>
                        </div>
                        <div class="group100000276815">
                          <div class="rectangle346754115"></div>
                          <div class="rectangle346754215"></div>
                        </div>
                      </div>
                      <div class="frame480960064">
                        <div class="frame4809599916">
                          <div class="image328"></div>
                          <div class="wELLWATERRATING4">WELL WATER RATING</div>
                        </div>
                        <div class="group100000276816">
                          <div class="rectangle346754116"></div>
                          <div class="rectangle346754216"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="loremIpsumDolorSitAmetConsecte4">
                Lorem ipsum dolor sit amet consectetur. Tincidunt quam sed nisl laoreet in aliquet. Eu sit dictumst
                proin etiam aliquet morbi purus ut. Rhoncus luctus porttitor tempor diam lectus turpis sed viverra urna.
                Tortor id condimentum condimentum mattis vitae sit mollis pharetra dictumst. Tellus dolor iaculis
                commodo metus sed. Elementum dui massa ornare dolor duis aliquam maecenas dictum. Mauris eget lorem
                pellentesque facilisi. Leo vitae sagittis suspendisse malesuada scelerisque.
              </div>
              <div class="frame10000027564">
                <div class="group10000027704">
                  <div class="rectangle537"></div>
                  <div class="contactDriller4">Contact Driller</div>
                </div>
                <div class="group10000027714">
                  <div class="rectangle538"></div>
                  <div class="viewProfile4">View Profile</div>
                </div>
                <div class="materialSymbolsShare4">
                  <img src="assets/material-symbols-share-icon4.svg" alt="" class="icon16" />
                </div>
              </div>
            </div>
          </div>
          <div class="frame1000002762">
            <div class="rectangle555"></div>
            <div class="frame10000027575">
              <div class="group10000027725">
                <div class="frame10000027555">
                  <div class="blhygnfr3nlslqot1ckiJpg5"></div>
                  <div class="frame10000027545">
                    <div class="hyrdoEngineeringServiceLimited5">Hyrdo Engineering Service Limited</div>
                    <div class="a31ObafemiAwolowoWayOffAllenRo5">
                      a31 Obafemi Awolowo way Off Allen Round About Ikeja, Lagos.
                    </div>
                    <div class="frame10000027535">
                      <div class="frame480960035">
                        <div class="frame4809599917">
                          <div class="image329"></div>
                          <div class="wELLWATERANALYSIS5">WELL WATER ANALYSIS</div>
                        </div>
                        <div class="group100000276817">
                          <div class="rectangle346754117"></div>
                          <div class="rectangle346754217"></div>
                        </div>
                      </div>
                      <div class="frame480960045">
                        <div class="frame4809599918">
                          <div class="group265"><img src="assets/group-26-icon5.svg" alt="" class="icon17" /></div>
                          <div class="sOILANALYSIS5">SOIL ANALYSIS</div>
                        </div>
                        <div class="group100000276818">
                          <div class="rectangle346754118"></div>
                          <div class="rectangle346754218"></div>
                        </div>
                      </div>
                      <div class="frame480960055">
                        <div class="frame4809599919">
                          <div class="drillerEngineerMachineryEquipm5">
                            <img src="assets/driller-engineer-machinery-equ5.svg" alt="" class="icon18" />
                          </div>
                          <div class="wELLWATERQUALITY5">WELL WATER QUALITY</div>
                        </div>
                        <div class="group100000276819">
                          <div class="rectangle346754119"></div>
                          <div class="rectangle346754219"></div>
                        </div>
                      </div>
                      <div class="frame480960065">
                        <div class="frame4809599920">
                          <div class="image3210"></div>
                          <div class="wELLWATERRATING5">WELL WATER RATING</div>
                        </div>
                        <div class="group100000276820">
                          <div class="rectangle346754120"></div>
                          <div class="rectangle346754220"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="loremIpsumDolorSitAmetConsecte5">
                Lorem ipsum dolor sit amet consectetur. Tincidunt quam sed nisl laoreet in aliquet. Eu sit dictumst
                proin etiam aliquet morbi purus ut. Rhoncus luctus porttitor tempor diam lectus turpis sed viverra urna.
                Tortor id condimentum condimentum mattis vitae sit mollis pharetra dictumst. Tellus dolor iaculis
                commodo metus sed. Elementum dui massa ornare dolor duis aliquam maecenas dictum. Mauris eget lorem
                pellentesque facilisi. Leo vitae sagittis suspendisse malesuada scelerisque.
              </div>
              <div class="frame10000027565">
                <div class="group10000027705">
                  <div class="rectangle539"></div>
                  <div class="contactDriller5">Contact Driller</div>
                </div>
                <div class="group10000027715">
                  <div class="rectangle5310"></div>
                  <div class="viewProfile5">View Profile</div>
                </div>
                <div class="materialSymbolsShare5">
                  <img src="assets/material-symbols-share-icon5.svg" alt="" class="icon19" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="frame1000002763">
          <div class="carbonNextOutline"><img src="assets/carbon-next-outline-icon.svg" alt="" class="icon20" /></div>
          <cl-component-82-property-1-defaul></cl-component-82-property-1-defaul>
          <div class="carbonNextOutline2"><img src="assets/carbon-next-outline-icon2.svg" alt="" class="icon21" /></div>
        </div>
      </div>
    </div>
  </div>
  <div class="frame1000002916">
    <div class="group1000002810"><div class="rectangle542"></div></div>
    <div class="frame1000002787">
      <div class="frame1000002777">
        <div class="frame1000002776">
          <div class="mdiFilter"><img src="assets/mdi-filter-icon.svg" alt="" class="icon22" /></div>
          <div class="group10000027716">
            <div class="rectangle5311"></div>
            <div class="vector"><img src="assets/vector-icon.svg" alt="" class="icon23" /></div>
            <div class="victoriaIsland">Victoria Island</div>
          </div>
          <div class="group1000002776">
            <div class="rectangle5312"></div>
            <div class="vector2"><img src="assets/vector-icon2.svg" alt="" class="icon24" /></div>
            <div class="recommended">Recommended</div>
          </div>
        </div>
        <cl-group-1000002775-property-1-va></cl-group-1000002775-property-1-va>
      </div>
      <div class="frame1000002786">
        <div class="group1000002769">
          <div class="frame1000002785">
            <div class="rectangle556"></div>
            <div class="frame1000002784">
              <div class="blhygnfr3nlslqot1ckiJpg6"></div>
              <div class="frame1000002783">
                <div class="hyrdoEngineeringServiceLimited6">Hyrdo Engineering Service Limited</div>
                <div class="a31ObafemiAwolowoWayOffAllenRo6">
                  a31 Obafemi Awolowo way Off Allen Round About Ikeja, Lagos.
                </div>
                <div class="frame480960036">
                  <div class="frame4809599921">
                    <div class="image3211"></div>
                    <div class="wELLWATERANALYSIS6">WELL WATER ANALYSIS</div>
                  </div>
                  <div class="group100000276821">
                    <div class="rectangle346754121"></div>
                    <div class="rectangle346754221"></div>
                  </div>
                </div>
                <div class="frame480960046">
                  <div class="frame4809599922">
                    <div class="group266"><img src="assets/group-26-icon6.svg" alt="" class="icon25" /></div>
                    <div class="sOILANALYSIS6">SOIL ANALYSIS</div>
                  </div>
                  <div class="group100000276822">
                    <div class="rectangle346754122"></div>
                    <div class="rectangle346754222"></div>
                  </div>
                </div>
                <div class="frame480960056">
                  <div class="frame4809599923">
                    <div class="drillerEngineerMachineryEquipm6">
                      <img src="assets/driller-engineer-machinery-equ6.svg" alt="" class="icon26" />
                    </div>
                    <div class="wELLWATERQUALITY6">WELL WATER QUALITY</div>
                  </div>
                  <div class="group100000276823">
                    <div class="rectangle346754123"></div>
                    <div class="rectangle346754223"></div>
                  </div>
                </div>
                <div class="frame480960066">
                  <div class="frame4809599924">
                    <div class="image3212"></div>
                    <div class="wELLWATERRATING6">WELL WATER RATING</div>
                  </div>
                  <div class="group100000276824">
                    <div class="rectangle346754124"></div>
                    <div class="rectangle346754224"></div>
                  </div>
                </div>
              </div>
              <div class="frame1000002782">
                <div class="loremIpsumDolorSitAmetConsecte6">
                  Lorem ipsum dolor sit amet consectetur. Tincidunt quam sed nisl laoreet in aliquet. Eu sit dictumst
                  proin etiam aliquet morbi purus ut. Rhoncus luctus porttitor tempor diam lectus turpis sed viverra
                  urna. Tortor id condimentum condimentum mattis vitae sit mollis pharetra dictumst. Tellus dolor
                  iaculis commodo metus sed. Elementum dui massa ornare dolor duis aliquam maecenas dictum. Mauris eget
                  lorem pellentesque facilisi. Leo vitae sagittis suspendisse malesuada scelerisque. Hac sagittis in
                  gravida suspendisse commodo. Quam fusce nunc proin cursus senectus massa ac. Egestas ut elementum
                  nulla et. Vestibulum malesuada donec tellus ornare nibh sodales porta
                </div>
                <div class="frame1000002781">
                  <div class="group10000027706">
                    <div class="rectangle5313"></div>
                    <div class="contactDriller6">Contact Driller</div>
                  </div>
                  <div class="group10000027717">
                    <div class="rectangle5314"></div>
                    <div class="contactDriller7">Contact Driller</div>
                  </div>
                  <div class="materialSymbolsShare6">
                    <img src="assets/material-symbols-share-icon6.svg" alt="" class="icon27" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="group1000002774">
          <div class="frame10000027852">
            <div class="rectangle557"></div>
            <div class="frame10000027842">
              <div class="blhygnfr3nlslqot1ckiJpg7"></div>
              <div class="frame10000027832">
                <div class="hyrdoEngineeringServiceLimited7">Hyrdo Engineering Service Limited</div>
                <div class="a31ObafemiAwolowoWayOffAllenRo7">
                  a31 Obafemi Awolowo way Off Allen Round About Ikeja, Lagos.
                </div>
                <div class="frame480960037">
                  <div class="frame4809599925">
                    <div class="image3213"></div>
                    <div class="wELLWATERANALYSIS7">WELL WATER ANALYSIS</div>
                  </div>
                  <div class="group100000276825">
                    <div class="rectangle346754125"></div>
                    <div class="rectangle346754225"></div>
                  </div>
                </div>
                <div class="frame480960047">
                  <div class="frame4809599926">
                    <div class="group267"><img src="assets/group-26-icon7.svg" alt="" class="icon28" /></div>
                    <div class="sOILANALYSIS7">SOIL ANALYSIS</div>
                  </div>
                  <div class="group100000276826">
                    <div class="rectangle346754126"></div>
                    <div class="rectangle346754226"></div>
                  </div>
                </div>
                <div class="frame480960057">
                  <div class="frame4809599927">
                    <div class="drillerEngineerMachineryEquipm7">
                      <img src="assets/driller-engineer-machinery-equ7.svg" alt="" class="icon29" />
                    </div>
                    <div class="wELLWATERQUALITY7">WELL WATER QUALITY</div>
                  </div>
                  <div class="group100000276827">
                    <div class="rectangle346754127"></div>
                    <div class="rectangle346754227"></div>
                  </div>
                </div>
                <div class="frame480960067">
                  <div class="frame4809599928">
                    <div class="image3214"></div>
                    <div class="wELLWATERRATING7">WELL WATER RATING</div>
                  </div>
                  <div class="group100000276828">
                    <div class="rectangle346754128"></div>
                    <div class="rectangle346754228"></div>
                  </div>
                </div>
              </div>
              <div class="frame10000027822">
                <div class="loremIpsumDolorSitAmetConsecte7">
                  Lorem ipsum dolor sit amet consectetur. Tincidunt quam sed nisl laoreet in aliquet. Eu sit dictumst
                  proin etiam aliquet morbi purus ut. Rhoncus luctus porttitor tempor diam lectus turpis sed viverra
                  urna. Tortor id condimentum condimentum mattis vitae sit mollis pharetra dictumst. Tellus dolor
                  iaculis commodo metus sed. Elementum dui massa ornare dolor duis aliquam maecenas dictum. Mauris eget
                  lorem pellentesque facilisi. Leo vitae sagittis suspendisse malesuada scelerisque. Hac sagittis in
                  gravida suspendisse commodo. Quam fusce nunc proin cursus senectus massa ac. Egestas ut elementum
                  nulla et. Vestibulum malesuada donec tellus ornare nibh sodales porta
                </div>
                <div class="frame10000027812">
                  <div class="group10000027707">
                    <div class="rectangle5315"></div>
                    <div class="contactDriller8">Contact Driller</div>
                  </div>
                  <div class="group10000027718">
                    <div class="rectangle5316"></div>
                    <div class="contactDriller9">Contact Driller</div>
                  </div>
                  <div class="materialSymbolsShare7">
                    <img src="assets/material-symbols-share-icon7.svg" alt="" class="icon30" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="group1000002775">
          <div class="frame10000027853">
            <div class="rectangle558"></div>
            <div class="frame10000027843">
              <div class="blhygnfr3nlslqot1ckiJpg8"></div>
              <div class="frame10000027833">
                <div class="hyrdoEngineeringServiceLimited8">Hyrdo Engineering Service Limited</div>
                <div class="a31ObafemiAwolowoWayOffAllenRo8">
                  a31 Obafemi Awolowo way Off Allen Round About Ikeja, Lagos.
                </div>
                <div class="frame480960038">
                  <div class="frame4809599929">
                    <div class="image3215"></div>
                    <div class="wELLWATERANALYSIS8">WELL WATER ANALYSIS</div>
                  </div>
                  <div class="group100000276829">
                    <div class="rectangle346754129"></div>
                    <div class="rectangle346754229"></div>
                  </div>
                </div>
                <div class="frame480960048">
                  <div class="frame4809599930">
                    <div class="group268"><img src="assets/group-26-icon8.svg" alt="" class="icon31" /></div>
                    <div class="sOILANALYSIS8">SOIL ANALYSIS</div>
                  </div>
                  <div class="group100000276830">
                    <div class="rectangle346754130"></div>
                    <div class="rectangle346754230"></div>
                  </div>
                </div>
                <div class="frame480960058">
                  <div class="frame4809599931">
                    <div class="drillerEngineerMachineryEquipm8">
                      <img src="assets/driller-engineer-machinery-equ8.svg" alt="" class="icon32" />
                    </div>
                    <div class="wELLWATERQUALITY8">WELL WATER QUALITY</div>
                  </div>
                  <div class="group100000276831">
                    <div class="rectangle346754131"></div>
                    <div class="rectangle346754231"></div>
                  </div>
                </div>
                <div class="frame480960068">
                  <div class="frame4809599932">
                    <div class="image3216"></div>
                    <div class="wELLWATERRATING8">WELL WATER RATING</div>
                  </div>
                  <div class="group100000276832">
                    <div class="rectangle346754132"></div>
                    <div class="rectangle346754232"></div>
                  </div>
                </div>
              </div>
              <div class="frame10000027823">
                <div class="loremIpsumDolorSitAmetConsecte8">
                  Lorem ipsum dolor sit amet consectetur. Tincidunt quam sed nisl laoreet in aliquet. Eu sit dictumst
                  proin etiam aliquet morbi purus ut. Rhoncus luctus porttitor tempor diam lectus turpis sed viverra
                  urna. Tortor id condimentum condimentum mattis vitae sit mollis pharetra dictumst. Tellus dolor
                  iaculis commodo metus sed. Elementum dui massa ornare dolor duis aliquam maecenas dictum. Mauris eget
                  lorem pellentesque facilisi. Leo vitae sagittis suspendisse malesuada scelerisque. Hac sagittis in
                  gravida suspendisse commodo. Quam fusce nunc proin cursus senectus massa ac. Egestas ut elementum
                  nulla et. Vestibulum malesuada donec tellus ornare nibh sodales porta
                </div>
                <div class="frame10000027813">
                  <div class="group10000027708">
                    <div class="rectangle5317"></div>
                    <div class="contactDriller10">Contact Driller</div>
                  </div>
                  <div class="group10000027719">
                    <div class="rectangle5318"></div>
                    <div class="contactDriller11">Contact Driller</div>
                  </div>
                  <div class="materialSymbolsShare8">
                    <img src="assets/material-symbols-share-icon8.svg" alt="" class="icon33" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="group10000027762">
          <div class="frame10000027854">
            <div class="rectangle559"></div>
            <div class="frame10000027844">
              <div class="blhygnfr3nlslqot1ckiJpg9"></div>
              <div class="frame10000027834">
                <div class="hyrdoEngineeringServiceLimited9">Hyrdo Engineering Service Limited</div>
                <div class="a31ObafemiAwolowoWayOffAllenRo9">
                  a31 Obafemi Awolowo way Off Allen Round About Ikeja, Lagos.
                </div>
                <div class="frame480960039">
                  <div class="frame4809599933">
                    <div class="image3217"></div>
                    <div class="wELLWATERANALYSIS9">WELL WATER ANALYSIS</div>
                  </div>
                  <div class="group100000276833">
                    <div class="rectangle346754133"></div>
                    <div class="rectangle346754233"></div>
                  </div>
                </div>
                <div class="frame480960049">
                  <div class="frame4809599934">
                    <div class="group269"><img src="assets/group-26-icon9.svg" alt="" class="icon34" /></div>
                    <div class="sOILANALYSIS9">SOIL ANALYSIS</div>
                  </div>
                  <div class="group100000276834">
                    <div class="rectangle346754134"></div>
                    <div class="rectangle346754234"></div>
                  </div>
                </div>
                <div class="frame480960059">
                  <div class="frame4809599935">
                    <div class="drillerEngineerMachineryEquipm9">
                      <img src="assets/driller-engineer-machinery-equ9.svg" alt="" class="icon35" />
                    </div>
                    <div class="wELLWATERQUALITY9">WELL WATER QUALITY</div>
                  </div>
                  <div class="group100000276835">
                    <div class="rectangle346754135"></div>
                    <div class="rectangle346754235"></div>
                  </div>
                </div>
                <div class="frame480960069">
                  <div class="frame4809599936">
                    <div class="image3218"></div>
                    <div class="wELLWATERRATING9">WELL WATER RATING</div>
                  </div>
                  <div class="group100000276836">
                    <div class="rectangle346754136"></div>
                    <div class="rectangle346754236"></div>
                  </div>
                </div>
              </div>
              <div class="frame10000027824">
                <div class="loremIpsumDolorSitAmetConsecte9">
                  Lorem ipsum dolor sit amet consectetur. Tincidunt quam sed nisl laoreet in aliquet. Eu sit dictumst
                  proin etiam aliquet morbi purus ut. Rhoncus luctus porttitor tempor diam lectus turpis sed viverra
                  urna. Tortor id condimentum condimentum mattis vitae sit mollis pharetra dictumst. Tellus dolor
                  iaculis commodo metus sed. Elementum dui massa ornare dolor duis aliquam maecenas dictum. Mauris eget
                  lorem pellentesque facilisi. Leo vitae sagittis suspendisse malesuada scelerisque. Hac sagittis in
                  gravida suspendisse commodo. Quam fusce nunc proin cursus senectus massa ac. Egestas ut elementum
                  nulla et. Vestibulum malesuada donec tellus ornare nibh sodales porta
                </div>
                <div class="frame10000027814">
                  <div class="group10000027709">
                    <div class="rectangle5319"></div>
                    <div class="contactDriller12">Contact Driller</div>
                  </div>
                  <div class="group100000277110">
                    <div class="rectangle5320"></div>
                    <div class="contactDriller13">Contact Driller</div>
                  </div>
                  <div class="materialSymbolsShare9">
                    <img src="assets/material-symbols-share-icon9.svg" alt="" class="icon36" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="group1000002777">
          <div class="frame10000027855">
            <div class="rectangle5510"></div>
            <div class="frame10000027845">
              <div class="blhygnfr3nlslqot1ckiJpg10"></div>
              <div class="frame10000027835">
                <div class="hyrdoEngineeringServiceLimited10">Hyrdo Engineering Service Limited</div>
                <div class="a31ObafemiAwolowoWayOffAllenRo10">
                  a31 Obafemi Awolowo way Off Allen Round About Ikeja, Lagos.
                </div>
                <div class="frame4809600310">
                  <div class="frame4809599937">
                    <div class="image3219"></div>
                    <div class="wELLWATERANALYSIS10">WELL WATER ANALYSIS</div>
                  </div>
                  <div class="group100000276837">
                    <div class="rectangle346754137"></div>
                    <div class="rectangle346754237"></div>
                  </div>
                </div>
                <div class="frame4809600410">
                  <div class="frame4809599938">
                    <div class="group2610"><img src="assets/group-26-icon10.svg" alt="" class="icon37" /></div>
                    <div class="sOILANALYSIS10">SOIL ANALYSIS</div>
                  </div>
                  <div class="group100000276838">
                    <div class="rectangle346754138"></div>
                    <div class="rectangle346754238"></div>
                  </div>
                </div>
                <div class="frame4809600510">
                  <div class="frame4809599939">
                    <div class="drillerEngineerMachineryEquipm10">
                      <img src="assets/driller-engineer-machinery-equ10.svg" alt="" class="icon38" />
                    </div>
                    <div class="wELLWATERQUALITY10">WELL WATER QUALITY</div>
                  </div>
                  <div class="group100000276839">
                    <div class="rectangle346754139"></div>
                    <div class="rectangle346754239"></div>
                  </div>
                </div>
                <div class="frame4809600610">
                  <div class="frame4809599940">
                    <div class="image3220"></div>
                    <div class="wELLWATERRATING10">WELL WATER RATING</div>
                  </div>
                  <div class="group100000276840">
                    <div class="rectangle346754140"></div>
                    <div class="rectangle346754240"></div>
                  </div>
                </div>
              </div>
              <div class="frame10000027825">
                <div class="loremIpsumDolorSitAmetConsecte10">
                  Lorem ipsum dolor sit amet consectetur. Tincidunt quam sed nisl laoreet in aliquet. Eu sit dictumst
                  proin etiam aliquet morbi purus ut. Rhoncus luctus porttitor tempor diam lectus turpis sed viverra
                  urna. Tortor id condimentum condimentum mattis vitae sit mollis pharetra dictumst. Tellus dolor
                  iaculis commodo metus sed. Elementum dui massa ornare dolor duis aliquam maecenas dictum. Mauris eget
                  lorem pellentesque facilisi. Leo vitae sagittis suspendisse malesuada scelerisque. Hac sagittis in
                  gravida suspendisse commodo. Quam fusce nunc proin cursus senectus massa ac. Egestas ut elementum
                  nulla et. Vestibulum malesuada donec tellus ornare nibh sodales porta
                </div>
                <div class="frame10000027815">
                  <div class="group100000277010">
                    <div class="rectangle5321"></div>
                    <div class="contactDriller14">Contact Driller</div>
                  </div>
                  <div class="group100000277111">
                    <div class="rectangle5322"></div>
                    <div class="contactDriller15">Contact Driller</div>
                  </div>
                  <div class="materialSymbolsShare10">
                    <img src="assets/material-symbols-share-icon10.svg" alt="" class="icon39" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="group1000002778">
          <div class="frame10000027856">
            <div class="rectangle5511"></div>
            <div class="frame10000027846">
              <div class="blhygnfr3nlslqot1ckiJpg11"></div>
              <div class="frame10000027836">
                <div class="hyrdoEngineeringServiceLimited11">Hyrdo Engineering Service Limited</div>
                <div class="a31ObafemiAwolowoWayOffAllenRo11">
                  a31 Obafemi Awolowo way Off Allen Round About Ikeja, Lagos.
                </div>
                <div class="frame4809600311">
                  <div class="frame4809599941">
                    <div class="image3221"></div>
                    <div class="wELLWATERANALYSIS11">WELL WATER ANALYSIS</div>
                  </div>
                  <div class="group100000276841">
                    <div class="rectangle346754141"></div>
                    <div class="rectangle346754241"></div>
                  </div>
                </div>
                <div class="frame4809600411">
                  <div class="frame4809599942">
                    <div class="group2611"><img src="assets/group-26-icon11.svg" alt="" class="icon40" /></div>
                    <div class="sOILANALYSIS11">SOIL ANALYSIS</div>
                  </div>
                  <div class="group100000276842">
                    <div class="rectangle346754142"></div>
                    <div class="rectangle346754242"></div>
                  </div>
                </div>
                <div class="frame4809600511">
                  <div class="frame4809599943">
                    <div class="drillerEngineerMachineryEquipm11">
                      <img src="assets/driller-engineer-machinery-equ11.svg" alt="" class="icon41" />
                    </div>
                    <div class="wELLWATERQUALITY11">WELL WATER QUALITY</div>
                  </div>
                  <div class="group100000276843">
                    <div class="rectangle346754143"></div>
                    <div class="rectangle346754243"></div>
                  </div>
                </div>
                <div class="frame4809600611">
                  <div class="frame4809599944">
                    <div class="image3222"></div>
                    <div class="wELLWATERRATING11">WELL WATER RATING</div>
                  </div>
                  <div class="group100000276844">
                    <div class="rectangle346754144"></div>
                    <div class="rectangle346754244"></div>
                  </div>
                </div>
              </div>
              <div class="frame10000027826">
                <div class="loremIpsumDolorSitAmetConsecte11">
                  Lorem ipsum dolor sit amet consectetur. Tincidunt quam sed nisl laoreet in aliquet. Eu sit dictumst
                  proin etiam aliquet morbi purus ut. Rhoncus luctus porttitor tempor diam lectus turpis sed viverra
                  urna. Tortor id condimentum condimentum mattis vitae sit mollis pharetra dictumst. Tellus dolor
                  iaculis commodo metus sed. Elementum dui massa ornare dolor duis aliquam maecenas dictum. Mauris eget
                  lorem pellentesque facilisi. Leo vitae sagittis suspendisse malesuada scelerisque. Hac sagittis in
                  gravida suspendisse commodo. Quam fusce nunc proin cursus senectus massa ac. Egestas ut elementum
                  nulla et. Vestibulum malesuada donec tellus ornare nibh sodales porta
                </div>
                <div class="frame10000027816">
                  <div class="group100000277011">
                    <div class="rectangle5323"></div>
                    <div class="contactDriller16">Contact Driller</div>
                  </div>
                  <div class="group100000277112">
                    <div class="rectangle5324"></div>
                    <div class="contactDriller17">Contact Driller</div>
                  </div>
                  <div class="materialSymbolsShare11">
                    <img src="assets/material-symbols-share-icon11.svg" alt="" class="icon42" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="group1000002779">
          <div class="frame10000027857">
            <div class="rectangle5512"></div>
            <div class="frame10000027847">
              <div class="blhygnfr3nlslqot1ckiJpg12"></div>
              <div class="frame10000027837">
                <div class="hyrdoEngineeringServiceLimited12">Hyrdo Engineering Service Limited</div>
                <div class="a31ObafemiAwolowoWayOffAllenRo12">
                  a31 Obafemi Awolowo way Off Allen Round About Ikeja, Lagos.
                </div>
                <div class="frame4809600312">
                  <div class="frame4809599945">
                    <div class="image3223"></div>
                    <div class="wELLWATERANALYSIS12">WELL WATER ANALYSIS</div>
                  </div>
                  <div class="group100000276845">
                    <div class="rectangle346754145"></div>
                    <div class="rectangle346754245"></div>
                  </div>
                </div>
                <div class="frame4809600412">
                  <div class="frame4809599946">
                    <div class="group2612"><img src="assets/group-26-icon12.svg" alt="" class="icon43" /></div>
                    <div class="sOILANALYSIS12">SOIL ANALYSIS</div>
                  </div>
                  <div class="group100000276846">
                    <div class="rectangle346754146"></div>
                    <div class="rectangle346754246"></div>
                  </div>
                </div>
                <div class="frame4809600512">
                  <div class="frame4809599947">
                    <div class="drillerEngineerMachineryEquipm12">
                      <img src="assets/driller-engineer-machinery-equ12.svg" alt="" class="icon44" />
                    </div>
                    <div class="wELLWATERQUALITY12">WELL WATER QUALITY</div>
                  </div>
                  <div class="group100000276847">
                    <div class="rectangle346754147"></div>
                    <div class="rectangle346754247"></div>
                  </div>
                </div>
                <div class="frame4809600612">
                  <div class="frame4809599948">
                    <div class="image3224"></div>
                    <div class="wELLWATERRATING12">WELL WATER RATING</div>
                  </div>
                  <div class="group100000276848">
                    <div class="rectangle346754148"></div>
                    <div class="rectangle346754248"></div>
                  </div>
                </div>
              </div>
              <div class="frame10000027827">
                <div class="loremIpsumDolorSitAmetConsecte12">
                  Lorem ipsum dolor sit amet consectetur. Tincidunt quam sed nisl laoreet in aliquet. Eu sit dictumst
                  proin etiam aliquet morbi purus ut. Rhoncus luctus porttitor tempor diam lectus turpis sed viverra
                  urna. Tortor id condimentum condimentum mattis vitae sit mollis pharetra dictumst. Tellus dolor
                  iaculis commodo metus sed. Elementum dui massa ornare dolor duis aliquam maecenas dictum. Mauris eget
                  lorem pellentesque facilisi. Leo vitae sagittis suspendisse malesuada scelerisque. Hac sagittis in
                  gravida suspendisse commodo. Quam fusce nunc proin cursus senectus massa ac. Egestas ut elementum
                  nulla et. Vestibulum malesuada donec tellus ornare nibh sodales porta
                </div>
                <div class="frame10000027817">
                  <div class="group100000277012">
                    <div class="rectangle5325"></div>
                    <div class="contactDriller18">Contact Driller</div>
                  </div>
                  <div class="group100000277113">
                    <div class="rectangle5326"></div>
                    <div class="contactDriller19">Contact Driller</div>
                  </div>
                  <div class="materialSymbolsShare12">
                    <img src="assets/material-symbols-share-icon12.svg" alt="" class="icon45" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
